/**
 * @name Intercord
 * @description This theme replaces Discord's default font with Inter.
 * @author questmatrix
 * @website https://github.com/questmatrix
 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --font-primary: 'Inter', sans-serif;
  --font-display: 'Inter', sans-serif;
  --font-headline: 'Inter', sans-serif;
  --font-code: 'Inter', sans-serif;
}
body {
  font-family: 'Inter', sans-serif !important;
}
.text-md-normal__4afad {
  font-family: 'Inter', sans-serif;
}
div.contents_fb6220 {
  font-family: 'Inter', sans-serif;
}
