/**
 * @name Intercord
 * @description This theme replaces Discord's default font with Inter.
 * @author questmatrix
 * @website https://github.com/questmatrix/questmatrix.github.io/blob/main/docs/downloads/discord/Intercord.css
 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --font-primary: 'Inter', sans-serif;
  --font-display: 'Inter', sans-serif;
  --font-headline: 'Inter', sans-serif;
  --font-code: 'Inter', sans-serif;
}
body, h1, h2, h3, h4, h5, h6, p, div, span {
  font-family: 'Inter', sans-serif;
}
div.contents_fb6220 {
  font-family: 'Inter', sans-serif;
}
.heading-md-semibold__574c7 {
  font-family: 'Inter', sans-serif;
}
.title__9e2b0 {
  font-family: 'Inter', sans-serif;
}
.overflow__87fe8 {
  font-family: 'Inter', sans-serif;
}
.membersGroup__85843 {
  font-family: 'Inter', sans-serif;
}
.lineClamp1__92431 {
  font-family: 'Inter', sans-serif;
}
.title__10613 {
  font-family: 'Inter', sans-serif;
}
.hoverRoll__041cb {
  font-family: 'Inter', sans-serif;
}
.hovered__243e5 {
  font-family: 'Inter', sans-serif;
}
.h1__90460 {
  font-family: 'Inter', sans-serif;
}
.title__3e421 {
  font-family: 'Inter', sans-serif;
}
.description_c815c5 {
  font-family: 'Inter', sans-serif;
}
.h5__884a2 {
  font-family: 'Inter', sans-serif;
}
.eyebrow_b7df6b {
  font-family: 'Inter', sans-serif;
}
.userTagUsernameBase__75fb1 {
  font-family: 'Inter', sans-serif;
}
[class^="text-"], [class*=" text-"] {
  font-family: 'Inter', sans-serif;
}
[class^="default-"], [class*=" default-"] {
  font-family: 'Inter', sans-serif;
}