@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  /* Fonts */
  --font-primary: 'Inter', sans-serif;
  --font-display: 'Inter', sans-serif;
  --font-headline: 'Inter', sans-serif;
  --font-code: 'Inter', sans-serif;
  /* Text colors */
  --header-secondary: #FFFFFF;
  --button-outline-brand-text: #FFFFFF;
  --white-500: #FFFFFF;
  --text-link: #0086e6;
  --text-muted: #999999;
}
/* Theme override */
.custom-theme-background {
  --custom-theme-background: linear-gradient(135deg, blue 0%, purple 50%, red 100%) !important;
  background: var(--custom-theme-background);
  background-size: 300% 300%;
  animation: breathing 6s ease infinite !important;
}
@keyframes breathing {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
